# Файлы сборки Visual Studio
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Файлы Visual Studio
.vs/
*.vcxproj
*.vcxproj.filters
*.sln
*.suo
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.sdf

# Файлы CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# Логи и временные файлы
*.log
*.idb
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.recipe

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
